<h1>Add Appointment</h1>
<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form" ) do |f| %>
  <%= f.label :user_id %>
  <%= f.select :user_id, @users.collect { |u| [u.first_name] } %>
  <br />
  <%= f.label :role %>
  <%= f.select :role, ['nurse', 'pyshician', 'patient'] %>
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
  <% end %>
